<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rows</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Reclamation's NEPA Handbook</string>
			<key>Scroll</key>
			<string>bookmark1</string>
			<key>View</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
